<html>
    <head>
        <style>
            table{
                font-family: sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            td,th{
                border: 1px solid #dddd;
                text-align: left;
                padding: 8px;
            }
        </style>
    </head>

    <body>
        <h3 style="text-align:center">Cafe managemant System</h3>



    </body>
</html>